body {
	margin: 0;
	-webkit-touch-callout: none !important; 
	-webkit-text-size-adjust: none !important; 
	-webkit-user-select: none !important; 
	-webkit-highlight: none !important; 
	-webkit-tap-highlight-color: rgba(0,0,0,0) !important; 
}
body > * {
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	-o-user-select: none !important;
	user-select: none !important;
	-webkit-highlight: none !important; 
	-webkit-tap-highlight-color: rgba(0,0,0,0) !important;
}
div[data-role="page"] {
	-webkit-overflow-scrolling: touch !important;
	padding-top: 41px !important;
}
div[data-role="page"], body, #container {
	background-color: transparent !important;
	-webkit-transform: translate3d(0,0,0) !important;
	-webkit-transform: translateZ(0px) !important;
	-webkit-backface-visibility: hidden; 
}
#container {
	background: url(../images/quadbg001.jpg) no-repeat center center fixed !important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	overflow:hidden !important;
}
div[data-role="header"] {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
div[data-role="content"] {
	position: absolute;
	top: 41px;
	bottom: 0;
	left: 0;
	right: 0;
}
a {
	text-decoration: none !important;
}
label {
	font-weight:normal !important;
}
.overflow-visible {
	overflow:visible;
}
.scrollable {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
.ui-overlay-shadow {
	b/ackground: none;
}
#learningstreamListView > .ui-li-static, #learningstreamListView > .ui-li-divider, #learningstreamListView > li > a.ui-btn {
	border-left-width: none !important;
	border-right-width: none !important;
    border-style: none !important;
    border-width: 1px 0 0;
}
.learningstreamFunctionArea, .learningstreamCommentArea, .learningstreamFunctionArea > a, .learningstreamCommentArea > a {
	font-size:0.75em !important;
	font-weight:normal !important;
}
.learningstreamFunctionArea > a.active, .learningstreamCommentArea > a.active {
	font-weight:bold !important;
}
.learningstreamFunctionArea, .learningstreamCommentArea {
	padding-bottom:10px !important;
}
.likeLink, .messageLink, .forwardLink, .linkCdate {
	text-decoration:none !important;
	font-weight:normal !important;
}
.linkCdate {
	font-size:0.6em !important;
	color:#333 !important;
}
.likeLink:hover, .messageLink:hover, .forwardLink:hover {
	text-decoration:underline !important;
	font-weight:normal !important;
}
.likeLinkActive {
	font-weight:bold !important;
	text-decoration:none !important;
}
.likeLinkActive:hover {
	font-weight:bold !important;
	text-decoration:underline !important;
}
.likeCountLink, .likeCountTextLink {
	padding:4px !important;
	font-weight: normal !important;
}
.likeCountLink:hover {
	padding:4px !important;
	background-color:#eee !important;
	font-weight: normal !important;
}
.likeCountTextLink:hover {
	text-decoration:underline !important;
}
.likeCountLink > img, .likeCountTextLink > img {
	padding-right:5px !important;
}
.learningstreamGapArea {
	padding-bottom:10px !important;
	background:none !important;
	background-color:transparent !important;
	border:none !important;
}
.listviewTextUnderThumbnbailLeft {
	color:#999;
	position: absolute;
	left:10px;
	bottom: 10px;
	m/ax-height: 5em;
	m/ax-width: 5em;
	width:70px !important;
	text-align:center;
	font-size:0.6em !important;
}
#learningstreamListView li[role="heading"], #learningstreamListView li[role="content"] a, #learningstreamListView li[role="learningstreamFunctionArea"], #learningstreamListView li.learningstreamCommentArea, #learningstreamListView li.learningstreamSubheading {
	
	border-left: 1px solid rgba(0, 0, 0, 0.2) !important;
	border-right: 1px solid rgba(0, 0, 0, 0.2) !important;
	-moz-box-shadow:    0px 2px 0px 0px rgba(0, 0, 0, 0.2) !important;
	-webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2) !important;
	box-shadow:         0px 2px 0px 0px rgba(0, 0, 0, 0.2) !important;
	b/ackground-color:lightgreen !important;
}
#learningstreamListView li[role="heading"], #learningstreamListView li.learningstreamSubheading {
	border-top: 1px solid rgba(0, 0, 0, 0.2) !important;
}
#learningstreamListView li.learningstreamFunctionArea, #learningstreamListView li.learningstreamCommentArea {
	border-top: 1px solid #efefef !important;
}
.input_classic {
	margin:-8px -4px !important;
	padding:8px 4px !important;
	width:100% !important;
	border: 1px solid #ccc;
}
.commentForm {
	padding:8px !important;
}
.hidden {
	display:none !important;
}
.font_small {
	font-size:0.6em !important;
}
ul.sendMessage > textarea::-webkit-scrollbar {
	width: 0px;
	height: 10px;
}
ul.sendMessage > textarea {
	
}
#myMsgBox {
	overflow-y:visible !important;
	resize: none !important;
}
.ui-controlgroup-controls {
	width:100% !important;
}
span[data-pastload-module="simpletext"] {
	width:100% !important;
}
////////////////////////////////////////////////////////////////////////////////////////////
/
////////////////////////////////////////////////////////////////////////////////////////////
/
////////////////////////////////////////////////////////////////////////////////////////////
#pastloadloadingbar, #pastloadloadingbar > * {
	-webkit-transform: translateZ(0);
}
.loader { 
	position:relative;
	top:0px;
	left:0px;
	width:100%;
	height:34px;
}
 
.bar {
    background-color:#99aaca; border:1px solid #96a6c9; float:left;
    margin-right:4px; margin-top:6px; width:6px; height:18px;
    
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: loadingbar;
}
 
.loader .bar:nth-child(2) { animation-delay: 0.1s; }
.loader .bar:nth-child(3) { animation-delay: 0.2s; }
 
@keyframes loadingbar {
     0% { }
    10% { margin-top:5px; height:22px; border-color:#d1d8e6; background-color:#bac5db; }
    20% { margin-top:0px; height:32px; border-color:#d1d7e2; background-color:#c6ccda; }
    30% { margin-top:1px; height:30px; border-color:#d1d8e6; background-color:#bac5db; }
    40% { margin-top:3px; height:26px; }
    50% { margin-top:5px; height:22px; }
    60% { margin-top:6px; height:18px; }
    70% { }
    
    100% { }
}
