.likeLink:hover, .messageLink:hover, .forwardLink:hover {
	text-decoration:underline !important;
	font-weight:normal !important;
}
.likeLinkActive:hover {
	font-weight:bold !important;
	text-decoration:underline !important;
}
