<div data-role="header" data-theme="h" data-position="fixed">
    <a data-ajax="true" href="#panel_left" data-icon="grid" data-iconpos="notext">Menü</a>
    <h1><%= window.system.owner.companyname %></h1>
    <% if(checkRole("user")==true) { %>
		<a data-ajax="true" href="#panel_right" data-icon="gear" data-iconpos="notext">Funktionen</a>
	<% } else { %>
		<a data-ajax="true" href="#panel_right" data-icon="gear" data-iconpos="notext">Login</a>
	<% } %>
</div>

<div data-role="content">

	<div style="p/adding:20px 20px 40px 20px;text-align:center;display:block;">
	
		<!--
		<div style="clear:both;float:none;width:100%;font-size:9px !important;">
			<button class="btn btn-block" onclick="sendFbLogin()">Login with Facebook</button>
			<hr/>
			<button class="btn btn-block" onclick="populateUserData('me')">Populate My Info</button>
			<p>Name: <span id="userName"></span></p>
			<img id="userPic"/>
			<hr/>
			<textarea id="Message" placeholder="What's on your mind?" rows="5"></textarea>
			<button class="btn btn-block" onclick="share()">Share</button>
			<hr/>
			<p>Revoke App Permissions. After revoking permissions, you'll have to grant permissions again when logging in.</p>
			<button class="btn btn-block" onclick="revokePermissions_facebook()">Revoke Permissions</button>
			<hr/>			
			<p>Complete Facebook Logout. After logging out, you'll have to login again and provide your Facebook credentials.</p>
			<button class="btn btn-block" onclick="logout()">Logout</button>
		</div>
		-->
		
		<!--
		<p><time datetime="<%= dateYmdHisToTimestamp("20100101120000") %>" class="age"><%= dateYmdHisToGerman("20100101120000") %></time></p>
		<p><time datetime="2020-01-01T12:00:00Z" class="age">January 1, 2020 12:00</time></p>
		-->
	
		<!--
		
		<a href="#popupDialog" data-rel="dialog" data-ajax="true" data-position-to="window" data-transition="pop" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-icon-delete ui-btn-icon-left ui-btn-a">Delete page...</a>
		<div data-role="page" id="popupDialog" data-dialog="true" data-theme="g" data-overlay-theme="c">
			<div data-role="header" data-theme="g">
				<h1>Dialog</h1>
			</div>
			<div role="main" class="ui-content"  data-theme="f">
				<h1>Delete page?</h1>
				<p>This is a regular page, styled as a dialog. To create a dialog, just link to a normal page and include a transition and <code>data-rel="dialog"</code> attribute.</p>
			</div>
		</div>
		
		<br><br>
		
		<div style="width:100%;float:none;clear:both;">
		
			<div class="fb-login-button" data-max-rows="5" data-size="xlarge" data-show-faces="true" data-auto-logout-link="true"></div>
		
			<div id="login-intro">
				<p class="intro">To get started, login using Facebook</p>
			</div>
			<div class="login">
                <a onclick="promptLogin()" class="login-button"> 
                  <span>Login</span>
                </a>
            </div>

		</div>
		
		<br><br>
		-->

		<!--
		<a href="scripts/popups/user/delete.html" data-ajax="true" data-theme="g" data-role="button" data-rel="dialog" data-transition="pop">dialog</a>
		<br><br>
		
		<!--
		<span data-pastload-module="simpletext" data-pastload-field="city"></span> <br>		
		<% if (window.heavyDebug) console.log(page_vars) %> <br>
		<span data-pastload-module="simpletext" data-pastload-field="fullname"></span>
		<br>
		userid: <%= page_vars.query_vars.userid %> <br>
		videoid: <%= page_vars.query_vars.videoid %> <br>
		<a href="#support?userid=<%= page_vars.query_vars.userid %>" class="resizetext" data-ajax="false">Support</a> <br>
		<span data-pastload-module="simpletext" data-pastload-field="adressblock"></span> 
		<span data-pastload-module="simpletext" data-pastload-field="zip"> none noe noe </span> 
		<span data-pastload-module="simpletext" data-pastload-field="fullname"> none noe noe </span> 
		<span data-pastload-module="simpletext" data-pastload-field="zip"> none noe noe </span> 
		<span data-pastload-module="simpletext" data-pastload-field="adressblock"> none noe noe </span> 
		<span data-pastload-module="simpletext" data-pastload-field="zip"> none noe noe </span> 
		<span data-pastload-module="simpletext" data-pastload-field="adressblock"> none noe noe </span> 
		<span data-pastload-module="simpletext" data-pastload-field="zip"> none noe noe </span> 
		<span data-pastload-module="simpletext" data-pastload-field="zipcity"> none noe noe </span> 
		<span data-pastload-module="simpletext" data-pastload-field="city"> none noe noe </span> 
		<span data-pastload-module="simpletext" data-pastload-field="fullname"> none noe noe </span> <br>
		<span data-pastload-module="simpletext" data-pastload-field="street"> none noe noe </span> <br>
		<span data-pastload-module="simpletext" data-pastload-field="zip"> none noe noe </span> <br>
		<span data-pastload-module="simpletext" data-pastload-field="city"> none noe noe </span> <br>
		<span data-pastload-module="simpletext" data-pastload-field="city"></span>
		<span data-pastload-module="simpletext" data-pastload-field="city"></span>
		<span data-pastload-module="simpletext" data-pastload-field="zipcity"></span>
		-->

		<!--
		<iframe id=="video_player_1" src="http://player.vimeo.com/video/88444287" style="background-color:#000;width:<%= $(window).width()-60 %>px;height:<%= ($(window).width()-60)/16*9 %>px;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		<div style="float:none;clear:both;"></div>
		<img src="images/shadow.png" style="width:100%;height:20px;">
		<div style="float:none;clear:both;"></div>
		-->

		<div style="height:5px;"></div>
		
		<img src="icon.png" style="m/ax-height:30%;max-width:40%;" class="no-elementResizeByScreenHeight" no-data-percentheight="25">
		
		<div style="float:none;clear:both;"></div>
		
		<!--
		<div id="videocontainer" style="b/order:10px solid red;b/ackground-color:#000000;">
			<a id="videocontainerlink" style="width:100%;height:100%;">
				<video id="video_player_1" class="video-js vjs-default-skin" data-setup="{}"></video>
			</a>
			<img src="images/shadow.png" style="width:100%;height:20px;">
		</div>
		-->
		
		<!-- <h5>APPinaut</h5> -->
		
		<!--
		<p>link test<br /><br />
		<a href="#" onclick="window.open('http://www.wikipedia.org','_self','location=yes')">Wikipedia (webview)</a><br /><br />
		<a href="#" onclick="window.open('http://www.wikipedia.org','_blank','location=yes')">Wikipedia (inAppBrowser)</a><br /><br />
		<a href="#" onclick="window.open('http://www.wikipedia.org','_system','location=yes')">Wikipedia (mobile browser)</a><br /><br />
		</p>
		<p>button test<br /><br />
		<button type="button" onclick="window.open('http://www.wikipedia.org','_self','location=yes')">Wikipedia (webview)</button><br /><br />
		<button type="button" onclick="window.open('http://www.wikipedia.org','_blank','location=yes')">Wikipedia (inAppBrowser)</button><br /><br />
		<button type="button" onclick="window.open('http://www.wikipedia.org','_system','location=yes')">Wikipedia (mobile browser)</button><br /><br />  
		</p>
		<div style="height:5px;"></div>
		-->
		
		<div style="float:none;clear:both;height:15px;"></div>
		<div style="font-size:10px;">
			<div style="font-size:16px;"><strong class="resizetext"><%= window.system.owner.slogan %></strong></div>
			<div style="font-size:12px;" class="resizetext"><%= window.system.app.options.calltoaction %></div>
		</div>

		<div style="float:none;clear:both;height:15px;"></div>
		
		<form style="text-align:left;">
			
			<!--
			<div class="ui-grid-a ui-responsive">
				<div class="ui-block-a">
					<input data-corners="false" type="text" style="text-align:center;" value="" id="username" name="username" placeholder="E-Mail-Adresse / Benutzername"/>
				</div>
				<div class="ui-block-b">
					<input data-corners="false" type="password" style="text-align:center;" value="" id="password" name="password" placeholder="Passwort"/>
				</div>
			</div>
			-->

			<input data-corners="false" type="text" style="text-align:center;" value="" id="username" name="username" placeholder="E-Mail-Adresse / Benutzername"/>
			<div style="float:none;clear:both;"></div>			
			<input data-corners="false" type="password" style="text-align:center;" value="" id="password" name="password" placeholder="Passwort"/>
			<div style="float:none;clear:both;"></div>			
			
			<div style="float:none;clear:both;"></div>			
			<div id="giftcodeDiv" style="display:none;">
				<input type="text" style="text-align:center;font-family:Trebuchet MS;text-transform: uppercase;letter-spacing:1px;" value="" id="giftcodeInput" name="giftcodeInput" placeholder="Anbietercode eingeben"/>
			</div>
					
			<div style="float:none;clear:both;"></div>
			<a id="sendLoginBtn" class="sendLoginBtn" data-role="button"><span>Anmelden</span></a>
			
			<div class="ui-grid-a ui-responsive">
				<div class="ui-block-a">
					<a id="sendRegisterBtn" class="sendRegisterBtn" data-theme="d" data-role="button"><span>Neu registrieren</span></a>
				</div>
				<div class="ui-block-b">
					<a id="sendFbLoginBtn" class="sendFbLoginBtn" data-theme="h" data-role="button"><span>Mit Facebook einloggen</span></a>
				</div>
			</div>
			
			
			
			
			
			<!-- <a href="/register.html" class="btn btn-link">sign up</a>
			<input id="sendLoginBtn" class="sendLoginBtn btn btn-primary" value="Los geht's" type="button">
			-->
		</form>
		
		<div style="height:20px;"></div>
		
		<span><a href="#privacy" class="resizetext">Datenschutz</a><span class="resizetext"> &middot; </span><a href="#support" class="resizetext">Support</a></span>
		<div style="height:10px;"></div>
		<span><a id="sendAnonymRegisterBtn" class="sendAnonymRegisterBtn resizetext" href="#" style="font-weight:normal;">Anonym in der Mediathek stöbern</a></span>
		
		<p style="padding-top:0px;font-weight:normal;font-size:9px;line-height:10px;text-align:justify;opacity:1;color:#888;text-decoration:none;text-align:center;" class="no-resizetext">
			<% if (1==2) { %>
				Indem Sie auf "Neuen Zugang anlegen" klicken, akzeptieren Sie die <a onClick="location.href='#agb';" style="font-weight:normal;font-size:9px;line-height:10px;text-align:justify;opacity:1;color:#888;text-decoration:none;" class="no-resizetext">Allgemeinen Geschäftsbedingungen von APPinaut</a>. <a onClick="location.href='#agb';" style="font-weight:normal;font-size:9px;line-height:10px;text-align:justify;opacity:1;color:#888;text-decoration:none;"><!--Kontaktieren</a> Sie uns gerne.--><!-- und bestätigen, dass Sie die Datenschutzrichtlinien und die Bestimmungen zur Cookie-Verwendung gelesen haben. Eventuell erhalten Sie eine E-Mail vom APPinaut Team, die Sie jederzeit abbestellen können.-->
			<% } %>
			<br><br><br><br>
			<!--
			<a onClick="javascript:openExternalURL('http://www.google.de/');">open google external</a>
			<br><br><br><br>
			
			<a href="http://www.google.com/" onclick="window.open(this.href,'_system'); return false;">Google</a>
			<br><br><br><br>
			-->
			
		</p>
		
	</div>

</div>