<div data-theme="h" data-role="header" data-position="fixed">
    <a id="btnBack" href="#" data-icon="back" data-iconpos="notext">Zurück</a>
    <h1><%= page_vars.header_vars.title %></h1>
    <% if(checkRole("user")==true) { %>
		<a data-ajax="true" href="#panel_right" data-icon="gear" data-iconpos="notext">Funktionen</a>
	<% } else { %>
		<a data-ajax="true" href="#panel_right" data-icon="gear" data-iconpos="notext">Login</a>
	<% } %>
</div>

<div data-role="content">

	<ul data-role="listview" data-inset="true" data-theme="a" data-icon="false" data-corners="false" data-shadow="false">
		<li style="white-space:normal;">
			<a style="white-space:normal;">
				<span data-pastload-module="simpletext" data-pastload-field="fullname_edit" data-userid="<%= page_vars.query_vars.userid %>"></span>
			</a>
		</li>
	</ul>
	<span data-pastload-module="simpletext" data-pastload-field="interestsList" data-userid="<%= page_vars.query_vars.userid %>"></span>

</div>