<p>
	<a data-mini="true" id="revokePermissions_facebookBtn" class="revokePermissions_facebookBtn" data-theme="f" data-role="button"><span>FB-Berechtigungen zurücksetzen</span></a>
	<span class="resizetext">Mit dieser Funktion können Sie die Berechtigungen, die Sie ggf. durch eine Registrierung über Ihren Facebook-Account gegeben haben, zurücksetzen, sprich löschen. Sollte diese App eine oder mehrere dieser Berechtigungen benötigen, werden Sie nochmals um Erlaubnis gefragt. Die Einschränkung dieser Berechtigungen kann ebenfalls zur Einschränkting der Funktionalität dieser App führen.</span>
	<hr>
</p>