<% if (page_vars.streamData.messageArray) _.each(page_vars.streamData.messageArray, function(message) { %>
	<ul data-role="listview" data-inset="true" data-theme="a" data-icon="false" data-corners="false" data-shadow="false">
		<li>
			<!-- <p>aaa</p> -->
			<a href="#messagephoto?messageid=<%= message.id %>">
				<img data-pastload-module="simpletext" data-pastload-field="pictureurl" data-pastload-tag="src" src="<% if(message.senderdata.pictureurl && message.senderdata.pictureurl!="") { %><%= message.senderdata.pictureurl %><% } else { %>images/avatar.jpg<% } %>" style="height:80px !important;width:80px !important;">
				<h2><span data-pastload-module="simpletext" data-pastload-field="fullname"></span></h2>
				<p><span data-pastload-module="simpletext" data-pastload-field="slogan"></span></p>
			</a>
		</li>
	</ul>
<% }); %>