<% if (page_vars.streamData.userArray) _.each(page_vars.streamData.userArray, function(user) { %>
	<ul data-role="listview" data-inset="true" data-theme="a" data-icon="false" data-corners="false" data-shadow="false">
		<li>
			<a href="#userphoto?userid=<%= user.id %>">
				<img data-pastload-module="simpletext" data-pastload-field="pictureurl" data-pastload-tag="src" src="images/avatar.jpg" style="height:80px !important;width:80px !important;">
				<h2><span data-pastload-module="simpletext" data-pastload-field="fullname"></span></h2>
				<p><span data-pastload-module="simpletext" data-pastload-field="slogan"></span></p>
			</a>
		</li>
	</ul>
<% }); %>