<span data-pastload-module="simpletext" data-pastload-field="profileheading" data-userid="<%= page_vars.query_vars.userid %>"></span>
<span data-pastload-module="simpletext" data-pastload-field="perstextblock" data-userid="<%= page_vars.query_vars.userid %>"></span>
<span data-pastload-module="simpletext" data-pastload-field="interestsblock" data-userid="<%= page_vars.query_vars.userid %>"></span>
<span data-pastload-module="simpletext" data-pastload-field="adressblock" data-userid="<%= page_vars.query_vars.userid %>"></span>